.aboutMe{
    width: 100%;
    height: 100vh;
    background-color: #fff; 
    padding: 3% 0;
    .me-content{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        .skill-data{     
            width: 30vw;
            height: 30vw;
            span{
                 font-family: 'STKaiti';
                 font-size: 1.8vw; 
                 display: block;
                 margin-bottom: 3%;  
            }
            .skill-data-bar{
                overflow: scroll;
                scrollbar-width: none;  

            }
            .skill-data-bar::-webkit-scrollbar {display:none}
        }
        
        .self-intro{
            width: 30vw;
            height: 30vw;
            position: relative;
            
            ul::-webkit-scrollbar {display:none} //隐藏滚动条(只支持chrome浏览器) 
            ul{
                width: 100%;
                height: 24vw;
                overflow: scroll;
                -webkit-overflow-scrolling: touch;
                scrollbar-width: none;
                li{
                    list-style: none;
                    margin-bottom: 6%;
                    span{
                        display: block;
                        width: 6vw;
                        text-align: center;
                        transition: 0.6s;
                        cursor: pointer;
                        color: #000;
                        border:1px solid black;
                        font-family: 'STKaiti';
                        font-size: 1.5vw;
                        border-radius: 10px; 
                        overflow: hidden;
                        transition: 0.3s;
                    }
                    p{
                        margin-top: 2%;
                        width: 30vw;
                        font-size: 1vw;
                        word-wrap:break-word;
                        text-indent:2vw;
                        display: none;
                    }
                    .span-show{
                        border:none;
                        color:#fff;
                        background-image: linear-gradient(to right,#454E93,#FF7B4D);
                    }
                    .p-show{
                        display: block;
                    }
                }
            }
            .self-icon{
                position: absolute;
                bottom: 3vw;                
                display: flex;
                flex-direction: row;
                .self-icon-outer{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin:0 15%;
                    .self-icon-img{
                        display: inline-block;
                        position: relative;
                        z-index:1;
                        width: 2.5vw;
                        height: 2.5vw;
                        text-align: center;
                        line-height: 2.5vw;
                        cursor:pointer;
                        font-size: 2vw;
                        border-radius: 50%;
                        color: #fff;
                        background-image: linear-gradient(to bottom,#454E93,#FF7B4D);
                    }
                    .self-icon-content{
                        position: absolute;
                        text-align: center;
                        opacity: 0;
                        height: 2vw;
                        width: 10vw;
                        background-color: #fff;
                    }
                    .show{
                        opacity: 1;
                        transform: translateY(3.5vw);
                        transition: transform 1s, opacity 2.5s;
                    }
                    /*.self-icon-content::after{   
                        content:'';
                        width: 0.5vw;
                        height: 0.5vw;
                        position: absolute;
                        z-index:-1;
                        top:-0.5vw;
                        left: 4.4vw;
                        transform: rotate(45deg) ;           
                        background-color: #fff;
                        border-left: 2px solid transparent;
                        border-top: 2px solid transparent;
                        border-image: linear-gradient(to right,#454E93,#FF7B4D) 1;
                    }*/
                }

            }

        }
        .self-photo{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 20vw;
         .self-photo-outer{
            width: 20vw;
            height: 20vw;
            background-image: linear-gradient(90deg,#454E93,#CC62AB,#E8E5E0,#FF7B4D,#454E93);
            border-radius: 50%;
            animation: rotate 3s linear infinite;
        }
        @keyframes rotate {
            to{
                transform: rotate(360deg)
            }
        }
        .self-photo-inner{
            position:absolute;
            width: 19.3vw;
            height: 19.3vw;
            border-radius: 50%;
            background-color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 18vw;
                height: 18vw;
                border-radius: 50%;
                
            }
        }           
        }
    }
}